@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --font-sans: var(--font-inter);
}

:root {
  --background: #030014;
  --foreground: #ffffff;
  --primary: #7042f88b;
  --secondary: #0f172a;
  --accent: #2a0e61;
  --muted: #94a3b8;
  --card: rgba(255, 255, 255, 0.05);
  
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b21b6;
}
